.nav {
  background: url(fondo.png), #7b4397;
  background: url(fondo.png),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430);
  color: #fff;
}

.gestion_usuario {
  margin: 12px;
}

.newperiodo {
  margin-top: 12px;
}

.gestion_usuario--titulo {
  color: #fff;
}

.gestion_periodo {
  margin: 12px 50px;
  display: flex;
}

.cabecera {
  margin-top: 0px !important;
  height: 40vh;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  padding: 50px;
  padding-top: 50px;
  background: url(fondo.png), #7b4397;
  background: url(fondo.png),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430);
}

.generales__presupuesto--titulo,
.generales__ingresos--titulo,
.generales__egresos--titulo {
  color: #fff;
}

.contenedor_form {
  padding: 10px;
  background-color: #a1a1a1;
  color: #000;
}

.agregar__info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.info_op {
  max-width: 40px;
}

.info_detalle {
  max-width: 550px;
}
.info_valor {
  max-width: 550px;
}
